<!DOCTYPE html>

<html
        xmlns:layout="http://www.w3.org/1999/xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorator="instaboot">

<body>

<div layout:fragment="body">

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Welcome To InstaBoot</h2>
        </div>
    </div>

    <h4>Latest Images</h4>

    <div style="display: inline-block; margin: 1em; padding: 1em;" th:each="post : ${posts}">
        <a th:href="@{/post/show/{id}(id=${post.id})}">
            <img src="#" th:src="@{/image/content/{id}(id=${@imageService.fetchThumbnailImage(post).id})}"/>
        </a>
    </div>

</div>

</body>

</html>
